@model IEnumerable<Restaurants.Models.Employee>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/css/header.css" />
    <link rel="stylesheet" href="~/Content/css/employees.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=cyrillic" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/edit.js")" type="text/javascript"></script>
    <title>Cooks</title>
</head>
<body>
    <div>
        <table id="header">
            <tr>
                <th></th>
                <th style="width: 60px; min-width: 60px">ID</th>
                <th style="width: 160px; min-width: 160px">Фамилия</th>
                <th style="width: 160px; min-width: 160px">Имя</th>
                <th style="width: 160px; min-width: 160px">Отчество</th>
                <th style="width: 100px; min-width: 100px">Режим работы</th>
                <th style="width: 100px; min-width: 100px">Смена</th>
                <th style="width: 80px; min-width: 80px">Часы/день</th>
                <th style="width: 170px; min-width: 170px">Аттестации</th>
                <th style="width: 120px; min-width: 120px">
                    <input class="headerButton" type="button" value="Добавить" style="width: 100%" onclick="EditManager.addNew(this)" />
                </th>
                <th></th>
            </tr>
            <tr id="errorBar">
                <td></td>
                <td colspan="9"></td>
                <td></td>
            </tr>
        </table>
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <input id="back" class="headerButton" type="submit" value="Вернуться" />
        }
        <div id="shadowBox"></div>
        <table id="employees">
            <tbody>
                @foreach (Restaurants.Models.Employee e in ViewBag.Employees)
                {
                    <tr onmouseover="Row.selectRow($(this))" onmouseout="Row.releaseRow($(this))">
                        
                        <td style="text-align: center; width: 60px; min-width: 60px">@e.Id</td>
                        <td style="width: 160px; min-width: 160px">@e.LastName</td>
                        <td style="width: 160px; min-width: 160px">@e.FirstName</td>
                        <td style="width: 160px; min-width: 160px">@e.Patronymic</td>
                        <td style="text-align: center; width: 100px; min-width: 100px">
                            <div>@e.Session</div>
                            <div>начиная с</div>
                            <div>@e.FirstWorkingDay.ToShortDateString()</div>
                        </td>
                        <td style="text-align: center; width: 100px; min-width: 100px">@e.Shift</td>
                        <td style="text-align: center; width: 80px; min-width: 80px">@e.AmountOfWorkingHours</td>
                        <td style="text-align: center; width: 170px; min-width: 170px">
                            @foreach (Restaurants.Models.Attestation a in e.Attestations)
                            {
                                <div class="specialization" >@a.Specialization</div>
                            }
                        </td>
                        <td style="text-align: center; width: 120px; min-width: 120px">
                            <input class="editButton" value="Изменить" type="button" onclick="EditManager.startEdit(this)" />
                            <input class="editButton" value="Удалить" type="button" onclick="deleteEmployee(this)" />
                        </td>
                    </tr>
                }
                <tr id="hiddenEditRow">
                    <td style="text-align: center; width: 60px; min-width: 60px"></td>
                    <td style="width: 160px; min-width: 160px"><input type="text" onblur="setCorrectCase(this)"></td>
                    <td style="width: 160px; min-width: 160px"><input type="text" onblur="setCorrectCase(this)"></td>
                    <td style="width: 160px; min-width: 160px"><input type="text" onblur="setCorrectCase(this)"></td>
                    <td style="text-align: center; width: 100px; min-width: 100px">
                        <div>
                            <select>
                                <option>2/2</option>
                                <option>5/2</option>
                            </select>
                        </div>
                        <div>начиная с</div>
                        <div>
                            <input type="text" style="width: 72px" />
                        </div>
                    </td>
                    <td style="text-align: center; width: 100px; min-width: 100px">
                        <select>
                            <option></option>
                            <option>утренняя</option>
                            <option>вечерняя</option>
                        </select>
                    </td>
                    <td style="text-align: center; width: 80px; min-width: 80px">
                        <select>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </td>
                    <td style="text-align: center; width: 170px; min-width: 170px">
                        @{
                            int i = 0;
                            foreach (var a in ViewBag.Attestations)
                            {
                                <div style="height: 20px; margin-top: 4px; margin-bottom: 4px; padding-left: 6px; padding-right: 6px; background-color: #D3D3D3; text-align: left">
                                    <input type="checkbox" id="checkbox_@i" style="height: 12px">
                                    <label for="checkbox_@i">@a.Specialization</label>
                                </div>
                                i++;
                            }
                        }

                    </td>
                    <td style="text-align: center; width: 120px; min-width: 120px">
                        <input class="editButton" style="visibility: visible"
                               value="Сохранить" type="button" onclick="EditManager.stopEdit(this)" />
                        <input class="editButton" style="visibility: visible"
                               value="Отмена" type="button" onclick="EditManager.stopEdit(this)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
